* {
	font-family: 'Baloo Thambi 2', cursive;
	margin: 0;
}


.header {
	background-color: #9DFFE7;
	text-align: center;
	padding: 100px;
	height: 100vh;
}

.middle {
	background-color: #FFF89D;
	text-align: center;
	padding: 100px;
	height: 100vh;
}

.skills {
	background-color: #32FF8C;
	text-align: ;
	padding: 100px;
}

.contacts {
	background-color: #A4FF0E;
	text-align: center;
	padding: 100px;
	height: 100vh;
}

.1 {
	text-align: left;
}

h1 {
	text-align: center;
}

input {
	width: 500px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

input: focus {
	border: 2px solid #333;
}

input[type=submit] {
	background-color: white;
	color: #333;
	font-size: 18px;
	width: 100px;
	border: 4px solid #333;
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;
}

input[type=submit]:hover {
	background-color: #333;
	color: white;
	font-size: 18px;
	width: 100px;
	padding: 4px;
	cursor: pointer;
	transition-duration: 0.5s;
}

textarea {
	width: 500px;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
    resize: none;
}

textarea:focus {
	border: 2px solid #333;
}

textarea, input:focus {
 outline: none;
}

.social-media {
	font-size: 30px;
	width: 100%;
}

.fa {
	text-decoration: none;
	color: black;
}

.fa:hover {
	opacity: 0.8;
}

.1 {
	text-align: left;
}

.skills {
	text-align: center;
	height: 100vh;
}

ul {
	text-align: left;
}